
/*画像*/
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 300px;
    margin-top: 50px;
}
.image-container img {
    width: 400px;
    height: auto;
    position: absolute;
    transition: transform 0.5s ease, z-index 0.3s ease;
}
.image-container img:nth-child(1) {
    left: 0;
    margin-top: 20px;
    z-index: 1;
    transform: translateX(-40px);
}
.image-container img:nth-child(2) {
    left: 50px;
    margin-top: 10px;
    z-index: 2;
    transform: translateX(0);
}
.image-container img:nth-child(3) {
    left: 100px;
    z-index: 3;
    transform: translateX(40px);
}
.image-container img:hover {
    z-index: 4;
    transform: scale(1.1);
}






.parents {
    margin-top: 100px;
}

.child_1 {
    display: flex; /* 横並びにする */
    align-items: center; /* 縦方向の中央揃え */
    gap: 20px; /* 画像とテキストの間隔を調整 */
}

.detail_1 {
    display: inline-block; /* 背景を文字のみに適用 */
    padding: 0.5em 1em;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
}
