
/*画像*/
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 300px;
    margin-top: 50px;
}
.image-container img {
    width: 400px;
    height: auto;
    position: absolute;
    transition: transform 0.5s ease, z-index 0.3s ease;
}
.image-container img:nth-child(1) {
    left: 0;
    margin-top: 20px;
    z-index: 1;
    transform: translateX(-40px);
}
.image-container img:nth-child(2) {
    left: 50px;
    margin-top: 10px;
    z-index: 2;
    transform: translateX(0);
}
.image-container img:nth-child(3) {
    left: 100px;
    z-index: 3;
    transform: translateX(40px);
}
.image-container img:hover {
    z-index: 4;
    transform: scale(1.1);
}