body {
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}

.name-box {
    display: flex;
}

.name {
    font-size: 200px;
    margin-top: 250px;
    margin-left: 30px;
}

.name-alp {
    font-size: 80px;
    margin-top: 400px;
    margin-left: 30px;
}

img {
    width: 200px; /* 幅を200pxに設定 */
    height: auto; /* 高さを自動調整 */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}
h1 {
    margin: 0;
    font-size: 24px;
}

.navbar .navbar-brand,
.navbar .nav-link {
    font-family:'Times New Roman', Times, serif;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}


.title {
    padding: 30px;
    text-align: center; /* テキストを中央表示 */
    font-family:'Times New Roman', Times, serif;
    font-size: 24px; /* 少し大きめに */
    font-weight: 600; /* 強調 */
}


.box1 {
    display: inline-block; /* コンテンツの幅にフィット */
    margin: 2em auto; /* 上下マージン + 中央配置 */
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 1.5px black;
    border-bottom: solid 1.5px black;
}

.box1:before, .box1:after {
    content: '';
    position: absolute;
    top: -10px;
    width: px;
    height: calc(100% + 20px);
    background-color: black;
}

.box1:before { left: 10px; }
.box1:after { right: 10px; }


.image-container {
    display: flex;
    justify-content: space-evenly; /* 画像同士の間隔を均等にする */
    align-items: center;
    max-width: 82%; /* コンテナの最大幅を調整 */
    margin: 0 auto; /* 中央配置 */
}


.image-container img {
    width: 300px;
    height: auto;
}
















/*レスポンシブデザイン*/
@media (max-width: 768px) {
    .image-container {
        justify-content: center; /* 小さい画面でも中央配置 */
    }
    .image-container img {
        width: 35%; /* 3列に並べるために幅を30%に設定 */
        margin: 5px; /* 画像間の余白 */
    }

    .title {
        font-size: 15px;
        padding: 10px;
    }

    .name-box {
        display: inline;
    }

    .name-alp {
        font-size: 50px;
        margin-top: 5px;
        margin-left: 30px;
    }

    .name {
        font-size: 150px;
        margin-top: 250px;
    }
}